//Colors
$white: #FFFFFF;
$white-opacity: #ffffffd6;
$black: #212121;
$gray-lighter:#F9F9F9;
$gray-light: #F3F3F3;
$gray-light: #E6E6E6;
$gray: #898A8D;
$blue: #007481;
$blue-light: #95D4E9;
$green: #4C9C2E;
$orange: #F88D2A;
$blue-opacity: #95d4e99f;
$blue-opacity-extra: #95d4e93b;


$text: $black;

$accent: $orange;

// Type
$sans: 'aauxpro_ot', sans-serif;
$serif: 'Cardo', serif;

$primary: $sans;

// Other vars
$transition: all 0.2s;
$box-shadow: 3px 5px 14px rgba(0, 0, 0, 0.2);

$ease-out: cubic-bezier(0.19, 1, 0.12, 1);
$ease-out-extreme: cubic-bezier(0.15,0.9,0.15,1);
$ease-in-out: cubic-bezier(0.77, 0, 0.175, 1);
$radius: 25rem;

// selectors 
$headers: "h1, h2, h3, h4, h5, h6";


	 
  